dump.rdb
redis-stable.tar.gz
redis-stable/*

ruby/koans/rubykoans.zip

node/tail-f/node_modules/*
node/todo/node_modules/*
mongodb/

selenium/node_modules/*

sessions/
videos/
docs/

.metadata/
.DS_Store
